/* src/components/SortingVisualizer.css */
/* src/components/SortingVisualizer.css */
.bars-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 400px;
  width: 40%;
  border: 2px solid black;
  margin-left: 55%;
  
}
   
  
.bar {
  width: 20px;
  background-color: rgb(218, 114, 218);
  margin: 0 2px;
}

.sort-container{
  display: flex;
}

.sort {
  margin-top: 70px;
  border-radius: 4px;
  color: aquamarine;
  font-family: Arial, sans-serif;
  font-weight: 600;
  font-size: 16px;
  border: 2px solid rgb(233, 184, 224);
  padding: 5px;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for both scaling and shadow effects */
}

.sort:hover {
  transform: scale(1.1); /* Scale up the element by 10% */
  box-shadow: 0 6px 8px rgba(188, 183, 183, 0.3); /* Shadow effect around all sides */
}










  